/* HEADER */
/* container */
header .container {
    background: radial-gradient(blue, aqua);
    border: 2px solid white;
    border-radius: 30px;
    box-shadow: 1px 1px 20px blue;

    padding: 20px 10px;
}

.container h2 {
    color: white;
    font-size: 50px;
    font-family: 'Zeyada', cursive;
    text-align: center;
    padding: 10px;
}


header .form-outer {
    /* border: 1px solid yellow; */
    background-color: black;
    /* box-shadow: 20px -20px 70px red; */
    padding: 40px 10px 20px 10px;

    border-radius: 30px;
    width: 340px;
    min-height: 300px;
}



header form {
    /* width: 450px; */
    width: fit-content;
    height: fit-content;
    background-color: transparent;
}

form input {
    text-align: center;

    display: block;
    background: transparent;
    color: white;
    border: none;
    outline: none;

    padding: 10px;
    margin-bottom: 30px;
    border-bottom: 1px solid darkslategray;
}

form input:focus {
    border-bottom: 1px solid white;
}


/* button */
/* .my-button */
form button {
    border: none;
    padding: 10px 20px;
    margin: 20px 0;
    font-size: 20px;

    /* box-shadow: inset 1px 1px 20px red; */
    background-color: white;
    color: black;
    border-radius: 20px;
    transition: 800ms ease;
    cursor: pointer;
}

form button:hover,
form button:focus {
    background-color: white;
    box-shadow: 1px 1px 20px rgb(45, 45, 236);
}


/* forgot password */
/* sign-up link */
#forgot-password,
#go-to-signup,
#go-to-login {
    background-color: black;
    color: white;
    font-family: sans-serif;

    padding: 15px 30px;
    margin: 20px 0;
    width: fit-content;
    height: fit-content;
    border-radius: 30px;

    transition: 600ms ease-in;
}

#forgot-password:hover,
#go-to-signup:hover,
#go-to-login:hover {
    background-color: white;
    color: black;
    box-shadow: 2px 2px 20px blue;
}

.more {
    background-color: black;
    padding: 10px;
    margin-top: 20px;
    border-radius: 40px;
}

#more {
    color: white;
}

#more p {
    padding: 10px 0 0 0;
    color: aqua;
}