/* HEADER */
header {
    background: radial-gradient(blue, aqua);
}


/* FORM */
header .form {
    width: 360px;
    padding: 10px;
    border: 1px solid white;
    color: white;

    /* background-color: transparent; */
    /* background-color: blue; */
    /* background-color: darkblue; */


    /* glass effect */
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.9px);
    -webkit-backdrop-filter: blur(4.9px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.form h2 {
    font-weight: 100;
    font-size: 50px;
    font-family: 'Zeyada', cursive;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
}

/* INPUT */
.form input {
    width: 200px;
    padding: 10px;
    margin: 10px auto;
    border: 1px solid white;
    outline: none;
    border-radius: 20px;

    text-align: center;
    display: block;
    background: transparent;
    color: yellow;

    transition: 300ms ease;
}

.form input:focus {
    border: 2px solid yellow;
    width: 240px;
}

.form ::placeholder {
    color: white;
    font-family: cursive;
}


/* BUTTON */
.form button {
    font-size: 18px;
    margin: 0 auto 10px auto;
    padding: 10px 20px;

    outline: none;
    border: 2px solid aqua;
    border-radius: 30px;
    background: transparent;
    color: white;

    display: block;
    transition: 600ms ease;
    cursor: pointer;
}

.form button:hover,
.form button:focus {
    background-color: white;
    border: 2px solid white;
    color: blue;
}



/* more */
.more {
    padding: 10px;
    margin-top: 20px;
}

/* forgot password */
/* sign-up link */
#forgot-password,
#go-to-signup {
    background-color: transparent;
    color: white;
    font-family: sans-serif;

    padding: 10px 30px;
    margin: 3px 0;
    width: fit-content;
    height: fit-content;
    border-radius: 30px;

    transition: 600ms ease-in;
}

#forgot-password:hover,
#go-to-signup:hover {
    background-color: white;
    color: black;
    box-shadow: 2px 2px 20px blue;
}