/* HEADER */
header {
    height: 30vh;
}


/* MAIN */
main {
    background-color: black;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

/* gallery */
main table {
    margin: 30px 5% 20px 5%;
    padding: 10px;
    /* border:1px solid black; */
    border-collapse: collapse;
}

/* image */
main table img {
    padding: 12px;
    width: 200px;
    height: 200px;
    object-fit: cover;

    filter: sepia();
    /* filter: opacity(0.7); */
    /* filter: grayscale(); */
    transition: 800ms ease;
    /* cursor: pointer; */
}

main table img:hover {
    transform: scale(1.2);
    filter: none;
    /* border-radius: 30px; */
    /* border: 3px solid black; */
    /* padding: 0; */
}